<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <form method="POST" id="update">

            <input type="text" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>"
            placeholder="name">

            <button type="submit" class="btn text-dark update">Save</button>
        </form>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
        <!-- <script src="/js/index.js"></script> -->
        <script>
                $("#update").submit(function(event){
           
           event.preventDefault();
         
           var values = $(this).serializeArray();
           console.log(values);
    var data = {}
$.map(values, function(n, i){
        data[n['name']] = n['value']
    })
 $.ajax( {
        "url" : `http://localhost:10000/api/users/${data.id}`,
        "method" : "PUT",
        "data" : data
    }).done(function(response){
        console.log("connected");
    })
       
       })
    </script>
    </body>
</html>